<div class="row">
        <div class="col-md-12">
            <div class="nivo-slider">
                <div class="slider-wrapper theme-default">
                    <div id="nivoSlider" class="nivoSlider">
                        <img src="/img/2017063006.jpg" data-thumb="img/slides/slide-1.jpg" alt="" />
                        <a href="index.html"><img src="/img/slider123.jpg" data-thumb="img/slides/slide-2.jpg" alt="" /></a>
                    </div>
                    <div id="htmlcaption" class="nivo-html-caption"></div>
                </div>
            </div>
        </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-none">Test Sessions</h4>
                <hr class="solid mt-md">
            </div>
        </div>
        <div class="row">
            <%= render partial: '/test_sessions/test_sessions'%>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <%= render partial: '/posts/posts'%>
        </div>
    </div>
</div>