<div id="question1" class="container-fluid bg-info">
            <h1> Question 1: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question2" class="container-fluid bg-secondary">
            <h1> Question 2: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question3" class="container-fluid bg-info" >
            <h1> Question 3: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question4" class="container-fluid bg-secondary" >
            <h1> Question 4: </h1>
            <h2> Content </h2>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question5" class="container-fluid bg-info" >
            <h1> Question 5: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question6" class="container-fluid bg-secondary" >
            <h1> Question 6: </h1>
            <h2> Content </h2>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question7" class="container-fluid bg-info" >
            <h1> Question 7: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question8" class="container-fluid bg-secondary" >
            <h1> Question 8: </h1>
            <h2> Content </h2>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question9" class="container-fluid bg-info" >
            <h1> Question 9: </h1>
            <h2> Content </h2>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
        <div id="question10" class="container-fluid bg-secondary" >
            <h1> Question 10: </h1>
            <h2> Content </h2>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" class="custom-control-input" name="optradio"> Answer 1</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 2</label>
            </div>
            <div class="custom-radio custom-control">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 3</label>
            </div>
            <div class="custom-control custom-radio">
                <label>
                    <input type="radio" class="custom-control-input" name="optradio"> Answer 4</label>
            </div>

        </div>
    </div>
</div>